$primary-color: #fff;
$secondary-color: #000;
$active-color: #d87d4a;
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
@mixin transition-ease {
  transition: all 0.5s ease-in-out;
}
@mixin change-amount {
  font-family: "Manrope";
  font-style: normal;
  font-weight: 700;
  font-size: 13px;
  line-height: 18px;
  text-align: center;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: $secondary-color;
  mix-blend-mode: normal;
  opacity: 0.25;
  cursor: pointer;
}
@mixin textStyle(
  $font-weight,
  $font-size,
  $line-height,
  $letter-spacing,
  $text-transform,
  $color,
  $opacity
) {
  font-family: "Manrope";
  font-style: normal;
  font-weight: $font-weight;
  font-size: $font-size;
  line-height: $line-height;
  letter-spacing: $letter-spacing;
  text-transform: $text-transform;
  color: $color;
  opacity: $opacity;
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@mixin image-mobile {
  background-size: cover;
  height: 17.4rem;
  border-radius: 8px;
}
@mixin media-md {
  @media screen and (min-width: 768px) {
    @content;
  }
}
@mixin media-lg {
  @media screen and (min-width: 1440px) {
    @content;
  }
}
