@import "./config";
.footer {
  &__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #101010;
  }
  &__border {
    width: 101px;
    height: 4px;
    background-color: $active-color;
    margin-bottom: 48px;
  }
  &__headline {
    margin-bottom: 48px;
    font-weight: bold;
  }
  &__menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    margin-bottom: 48px;
  }
  &__menu > li {
    list-style: none;
  }
  &__menu > li > a {
    @include textStyle(700, 13px, 25px, 2px, uppercase, $primary-color, 1);
  }
  &__menu > li > a:hover {
    color: $active-color;
    transition: 1s;
  }
  &__paragraph {
    mix-blend-mode: normal;
    @include textStyle(500, 15px, 25px, 1px, none, $primary-color, 0.5);
    margin-left: 24px;
    margin-right: 24px;
    margin-bottom: 48px;
  }
  &__copyright {
    margin-bottom: 48px;
    color: $primary-color;
    mix-blend-mode: normal;
    @include textStyle(700, 15px, 25px, 1px, none, $primary-color, 0.5);
  }
  &__icons {
    display: flex;
    color: $primary-color;
    gap: 16px;
    margin-bottom: 38px;
  }
  &__icons span a i:hover {
    color: $active-color;
  }
}
@include media-md {
  .footer {
    &__container {
      padding-left: 40px;
      display: grid;
      grid-template-rows: repeat(5, auto);
      grid-template-columns: 5fr 1fr;
    }
    &__border {
      margin-bottom: 56px;
    }
    &__headline {
      grid-row-start: 2;
      margin-bottom: 32px;
    }
    &__menu {
      grid-row-start: 3;
      flex-direction: row;
      column-gap: 34px;
      margin-bottom: 32px;
    }
    &__paragraph {
      grid-row-start: 4;
      margin: 0;
      margin-bottom: 80px;
      text-align: left;
    }
    &__copyright {
      grid-row-start: 5;
      grid-column-start: 1;
    }
    &__icons {
      grid-row-start: 5;
      grid-column-start: 2;
      justify-self: end;
      margin-right: 24px;
    }
  }
}
@include media-lg {
  .footer {
    &__container {
      display: grid;
      grid-template-rows: repeat(4, auto);
      grid-template-columns: 1fr 1fr;
      padding-left: 165px;
    }
    &__border {
      grid-column-start: 1;
    }
    &__headline {
      grid-column-start: 1;
      grid-row-start: 2;
    }
    &__menu {
      grid-row-start: 2;
      grid-column-start: 2;
      flex-direction: row;
      column-gap: 34px;
      margin-bottom: 32px;
      justify-self: end;
      margin-right: 165px;
    }
    &__icons {
      grid-column-start: 2;
      grid-row-start: 3;
      margin-right: 165px;
      align-self: end;
    }
    &__paragraph {
      grid-column-start: 1;
      grid-row-start: 3;
      width: 540px;
      margin-bottom: 0;
    }
    &__copyright {
      margin-top: 56px;
    }
  }
}
