.home {
  height: 600px;
  padding-top: 40vh;
  overflow: hidden;
  align-items: center;
  text-align: center;
  background: url("../assets/home/mobile/image-header.jpg") no-repeat;
  background-size: 100% 100%;
  background-color: $secondary-color;
  &__container {
    position: absolute;
    display: flex;
    flex-direction: column;
    top: 19.8rem;
    left: 2.3rem;
    right: 2.4rem;
  }
  &__headline {
    text-align: center;
    mix-blend-mode: normal;
    opacity: 0.5;
    margin-bottom: 16px;
    @include textStyle(400, 14px, 19px, 10px, uppercase, $primary-color, 0.5);
  }
  &__product {
    text-align: center;
    margin-bottom: 24px;
    max-width: 32.8rem;
    align-self: center;
    @include textStyle(
      700,
      36px,
      58px,
      1.28571px,
      uppercase,
      $primary-color,
      1
    );
  }
  &__paragraph {
    text-align: center;
    margin-bottom: 2.8rem;
    max-width: 32.8rem;
    align-self: center;
    @include textStyle(500, 15px, 25px, 1px, none, $primary-color, 0.75);
  }
  &__btn {
    background-color: $active-color;
    padding: 1.5rem 2.95rem 1.5rem 3.15rem;
    align-self: center;
    justify-self: center;
    @include textStyle(700, 13px, 18px, 1px, uppercase, $primary-color, 1);
  }
  &__btn:hover {
    opacity: 0.75;
    transition: 1s;
  }
}
@include media-md {
  .home {
    background: url("../assets/home/tablet/image-header.jpg") no-repeat;
    background-size: 100% 100%;
    &__container {
      row-gap: 2.4rem;
    }
    &__product {
      max-width: 39.6rem;
      font-size: 56px;
    }
    &__paragraph {
      max-width: 34.9rem;
      align-self: center;
    }
  }
}
@include media-lg {
  .home {
    text-align: left;
    align-items: left;
    background-image: url("../assets/home/desktop/image-hero.jpg");
    &__container {
      top: 22.5rem;
      left: 16.5rem;
      right: 89.6rem;
    }
    &__paragraph {
      text-align: left;
      margin: 0;
      align-self: flex-start;
    }
    &__btn {
      align-self: flex-start;
    }
    &__headline {
      align-self: flex-start;
      text-align: left;
      margin: 0;
      line-height: 40px;
    }
    &__product {
      align-self: flex-start;
    }
  }
}
