.speaker-zx9 {
  margin: auto 2.4rem 2.4rem 2.4rem;
  &__container {
    background-color: $active-color;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 8px;
    height: 600px;
  }
  &__img {
    margin-top: 55px;
    margin-bottom: 32px;
    width: 172.25px;
    height: 207px;
    z-index: 2;
  }
  &__headline {
    text-align: center;
    @include textStyle(
      700,
      36px,
      40px,
      1.28571px,
      uppercase,
      $primary-color,
      1
    );
    margin-bottom: 24px;
    z-index: 1;
  }
  &__paragraph {
    mix-blend-mode: normal;
    @include textStyle(500, 15px, 25px, 1px, none, $primary-color, 0.75);
    margin: 0 24px 23px 24px;
    z-index: 1;
    width: 280px;
    text-align: center;
  }
  &__link {
    border: 1px solid $secondary-color;
    padding: 1.5rem 2.95rem 1.5rem 3.15rem;
    background-color: $secondary-color;
    @include textStyle(700, 13px, 18px, 1px, uppercase, $primary-color, 1);
    z-index: 1;
  }
  &__link:hover {
    opacity: 0.75;
    transition: 1s;
  }
  &__circles {
    position: absolute;
    width: 327px;
    height: 470px;
    z-index: 0;
  }
}
@include media-lg {
  .speaker-zx9 {
    margin-left: 165px;
    margin-right: 165px;
    &__container {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: repeat(4, 25%);
      column-gap: 13.828rem;
    }
    &__headline {
      text-align: left;
      grid-row-start: 2;
      grid-column-start: 2;
      align-self: center;
    }
    &__link {
      margin: 0;
      //width: 16rem;
      grid-row-start: 4;
      grid-column-start: 2;
      align-self: start;
      justify-self: start;
    }
    &__paragraph {
      margin: 0;
      grid-column-start: 2;
      grid-row-start: 3;
      text-align: left;
      align-self: start;
    }
    &__img {
      grid-row-start: 1;
      transform: translate(15%, 61%);
      align-self: end;
      grid-column-start: 1;
      height: 100%;
      align-self: end;
      justify-self: end;
      width: 41.023rem;
    }
    &__circles {
      position: absolute;
      transform: translate(20%);
    }
  }
}
