.speaker-zx7 {
  margin-left: 24px;
  margin-right: 24px;
  margin-bottom: 32px;
  &__container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    min-width: 327px;
    min-height: 320px;
    background-image: url("../assets/product-zx7-speaker/mobile/Bitmap.png");
    background-repeat: repeat;
    background-size: cover;
    background-position: center;
    border-radius: 8px;
  }
  &__headline {
    @include textStyle(700, 28px, 38px, 2px, uppercase, $secondary-color, 1);
    margin-top: 101px;
    margin-left: 7.33%;
    z-index: 10;
  }
  &__link {
    @include textStyle(700, 13px, 18px, 1px, uppercase, $secondary-color, 1);
    margin-top: 32px;
    margin-left: 7.33%;
    border: 1px solid $secondary-color;
    width: 175px;
    padding: 15px 29.5px 15px 31.5px;
  }
  &__link:hover {
    background-color: $secondary-color;
    color: $primary-color;
    transition: 1s;
  }
}
@include media-md {
  .speaker-zx7 {
    &__container {
      background-image: url("../assets/product-zx7-speaker/tablet/Bitmap.png");
    }
  }
}
@include media-lg {
  .speaker-zx7 {
    margin-left: 165px;
    margin-right: 165px;
    &__container {
      background-image: url("../assets/product-zx7-speaker/desktop/Bitmap.png");
    }
    &__img {
      height: 100%;
    }
  }
}
