@import "../home/config";
@import "../home/menu";
@import "../home/home";
@import "../home/products";
@import "../home/audio-gear";
@import "../home/footer";
.product-type {
  position: relative;
  text-align: center;
  padding: 3.2rem 8.4rem 3.2rem 8.4rem;
  background-color: $secondary-color;
  @include textStyle(700, 28px, 38px, 2px, uppercase, $primary-color, 1);
}
.speaker {
  padding: 6.4rem 2.4rem 5.6rem 2.4rem;
  &__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 2.4rem;
  }
  &__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 24px;
  }
  &__img {
    width: 32.7rem;
    height: 35.2rem;
    &.mark-one {
      background: url("../assets/product-zx9-speaker/mobile/image-category-page-preview.jpg")
        no-repeat;
      background-size: cover;
    }
    &.mark-two {
      background: url("../assets/product-zx7-speaker/mobile/image-category-page-preview.jpg")
        no-repeat;
      background-size: cover;
    }
  }

  &__status {
    text-align: center;
    @include textStyle(400, 14px, 19px, 10px, uppercase, $active-color, 1);
  }
  &__headline {
    text-align: center;
    min-width: 32.7rem;
    padding-left: 10%;
    padding-right: 10%;
    @include textStyle(700, 28px, 38px, 1px, uppercase, $secondary-color, 1);
  }
  &__paragraph {
    text-align: center;
    mix-blend-mode: normal;
    max-width: 32.7rem;
    @include textStyle(500, 15px, 25px, 1px, none, $secondary-color, 0.5);
  }
  &__link {
    background-color: $active-color;
    padding: 1.5rem 2.95rem 1.5rem 3.15rem;
    @include textStyle(700, 13px, 18px, 1px, uppercase, $primary-color, 1);
  }
  &__link:hover {
    opacity: 0.5;
    transition: 1s;
  }
}
@include media-md {
  .product-type {
    padding: 10.5rem 24.2rem 9.7rem 24.3rem;
  }
  .speaker {
    padding-left: 3.9rem;
    padding-right: 3.9rem;
    &__paragraph {
      min-width: 57.2rem;
    }
    &__img {
      min-width: 68.9rem;
      &.mark-one {
        background: url("../assets/product-zx9-speaker/tablet/image-category-page-preview.jpg")
          no-repeat;
        background-size: cover;
        background-position: center;
      }
      &.mark-two {
        background: url("../assets/product-zx7-speaker/tablet/image-category-page-preview.jpg")
          no-repeat;
        background-size: cover;
        background-position: center;
      }
    }
  }
}
@include media-lg {
  .product-type {
    padding: 9.8rem 57.8rem 9.7rem 57.9rem;
  }
  .speaker {
    margin-right: 16.5rem;
    margin-left: 16.5rem;
    &__container {
      flex-direction: row;
      column-gap: 12.5rem;
      justify-content: space-around;
    }
    &__wrapper {
      align-items: flex-start;
    }
    &__paragraph {
      text-align: left;
      width: 44.5rem;
    }
    &__headline {
      text-align: left;
      padding: 0;
    }
    &__img {
      margin: 0;
      min-width: 54rem;
      height: 56rem;
      &.mark-one {
        background: url("../assets/product-zx9-speaker/desktop/image-category-page-preview.jpg")
          no-repeat;
        background-size: cover;
        background-position: center;
      }
      &.mark-two {
        background: url("../assets/product-zx7-speaker/desktop/image-category-page-preview.jpg")
          no-repeat;
        background-size: cover;
        background-position: center;
        order: 1;
      }
    }
  }
  .products {
    &__container {
      margin-bottom: 16rem;
    }
  }
}
